<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link
    href="//static.fdc.com.cn/common/images/logo-160x160.png"
    rel="Shortcut Icon"
    type="image/x-icon">
    <link href="//static.fdc.com.cn/common/images/logo-160x160.png" rel="apple-touch-icon-precomposed">


    <meta itemprop="name" content="2018年世界杯预言帝是你吗？竞猜世界杯，看球更带劲"/>
    <meta itemprop="image" content="//static.fdc.com.cn/worldcup/wcup-logo-blank.jpg" />
    <meta name="description" itemprop="description" content="2018年世界杯预言帝是你吗？竞猜世界杯，看球更带劲" />


    <meta name="keywords" content="">
    <meta name="description" content="2018年世界杯预言帝是你吗？竞猜世界杯，看球更带劲">
    <!-- <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="../static/styles/common/reset.css" inline>
    <script src="../../node_modules/amfe-flexible/index.js" inline></script>
    <link rel="stylesheet" href="@STATIC/css/test.css">
    <title>2018年世界杯预言帝是你吗？竞猜世界杯，看球更带劲</title>
  </head>
  <body>
    <div id="app"></div>


  </body>
  <script src="@STATIC/js/test.js"></script>

</html>
